name: run_tests

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop

env:
  HOMEBREW_NO_ANALYTICS: "ON" # Make Homebrew installation a little quicker
  HOMEBREW_NO_AUTO_UPDATE: "ON"
  HOMEBREW_NO_BOTTLE_SOURCE_FALLBACK: "ON"
  HOMEBREW_NO_GITHUB_API: "ON"
  HOMEBREW_NO_INSTALL_CLEANUP: "ON"
  SSDB: "127.0.0.1:6379"
  SMARTREDIS_TEST_CLUSTER: False

jobs:

  run_tests:
    name: Run smartredis tests using ${{ matrix.os }}, Python ${{ matrix.py_v }}, RedisAI ${{ matrix.rai_v }}, and compiler ${{ matrix.compiler }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04] # cannot test on macOS as docker isn't supported on Mac
        compiler: [intel, 8, 9, 10] # intel compiler, and versions of GNU compiler
        rai_v: [1.2.4, 1.2.5] # verisons of RedisAI
        py_v: ['3.7.x', '3.8.x', '3.9.x'] # versions of Python
    env:
      FC: gfortran-${{ matrix.compiler }}
      GCC_V: ${{ matrix.compiler }} # used when the compiler is gcc/gfortran

    # Service containers to run with `container-job`
    services:
      # Label used to access the service container
      redis:
        # Docker Hub image
        image: redislabs/redisai:${{ matrix.rai_v }}-cpu-xenial

        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # map port 6379 on service container to the host
          - 6379:6379

    steps:
      # download a copy of SmartRedis before running CI tests
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.py_v }}

      - name: Set up common
        run: python -m pip install --upgrade cmake

      - name: Install GFortran Linux
        if: "!contains( matrix.compiler, 'intel' )" # if using GNU compiler
        run: |
          sudo apt-get update &&
          sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test &&
          sudo apt-get update &&
          sudo apt-get install -y gcc-${GCC_V} gfortran-${GCC_V} &&
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-${GCC_V} 100 \
          --slave /usr/bin/gfortran gfortran /usr/bin/gfortran-${GCC_V}

      - name: Install Intel compiler
        if: "contains( matrix.compiler, 'intel' )" # if using intel compiler
        run: |
          wget https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS-2023.PUB &&
          sudo apt-key add GPG-PUB-KEY-INTEL-SW-PRODUCTS-2023.PUB &&
          rm GPG-PUB-KEY-INTEL-SW-PRODUCTS-2023.PUB &&
          echo "deb https://apt.repos.intel.com/oneapi all main" | sudo tee /etc/apt/sources.list.d/oneAPI.list &&
          sudo apt-get update &&
          sudo apt-get install intel-oneapi-compiler-fortran intel-oneapi-compiler-dpcpp-cpp-and-cpp-classic
          source /opt/intel/oneapi/setvars.sh &&
          printenv >> $GITHUB_ENV &&
          echo "CC=icc" >> $GITHUB_ENV &&
          echo "CXX=icpc" >> $GITHUB_ENV &&
          echo "FC=ifort" >> $GITHUB_ENV

      - name: Build SmartRedis python and install
        run: python -m pip install -e .[dev]

      - name: Build and run tests
        run: |
            mkdir -p ./third-party &&
            cd ./third-party &&
            bash ../build-scripts/build-lcov.sh &&
            bash ../build-scripts/build-catch.sh &&
            cd ../ &&
            make test-verbose

      - name: Run Python coverage tests
        run: python -m pytest --cov=./src/python/module/smartredis/ --cov-report=xml --cov-append -vv ./tests/python/

      - name: Run C++ coverage tests # unit tests already built
        run: bash ./build-scripts/build_cpp_cov.sh

      - name: Upload Python coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          files: ./coverage.xml

      - name: Upload C++ coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          files: ./tests/cpp/unit-tests/build/CMakeFiles/cpp_unit_tests.dir/coverage.info
