name: run_tests

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop

env:
  HOMEBREW_NO_ANALYTICS: "ON" # Make Homebrew installation a little quicker
  HOMEBREW_NO_AUTO_UPDATE: "ON"
  HOMEBREW_NO_BOTTLE_SOURCE_FALLBACK: "ON"
  HOMEBREW_NO_GITHUB_API: "ON"
  HOMEBREW_NO_INSTALL_CLEANUP: "ON"
  SMARTREDIS_TEST_CLUSTER: "False"
  SSDB: "127.0.0.1:6379"

jobs:

  run_tests:
    name: Run smartredis tests on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, macos-10.15]
        gcc_v: [8] # Version of GFortran we want to use.
        rai: [1.2.4] # add 1.2.5 in the future
    env:
      FC: gfortran-${{ matrix.gcc_v }}
      GCC_V: ${{ matrix.gcc_v }}

    services:
      # Label used to access the service container
      redis:
        # Docker Hub image
        image: redislabs/redisai:${{ matrix.rai }}-cpu-xenial

        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: '3.8.x'

      - name: Set up common
        run: python -m pip install --upgrade cmake

      - name: Install GFortran Linux
        if: contains(matrix.os, 'ubuntu')
        run: |
          sudo apt-get update &&
          sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test &&
          sudo apt-get update &&
          sudo apt-get install -y gcc-${GCC_V} gfortran-${GCC_V} &&
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-${GCC_V} 100 \
          --slave /usr/bin/gfortran gfortran /usr/bin/gfortran-${GCC_V}

      - name: Install GFortran macOS
        if: contains(matrix.os, 'macos')
        run: brew install gcc@${GCC_V} || brew upgrade gcc@${GCC_V} || true

      - name: Build SmartRedis python and install
        run: python -m pip install -e .[dev]

      - name: Run tests
        run: |
            mkdir -p ./third-party && cd ./third-party &&
            bash ../build-scripts/build-lcov.sh &&
            bash ../build-scripts/build-catch.sh &&
            cd ../ && make test-verbose
        env:
          SSDB: "localhost:6379"
